@charset "utf-8";
/* hero section */
.banner {
    height: 100vh;
    background:url("../image/2147841197.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; /* Added relative positioning */
    background-blend-mode:color-dodge;
}

.hero-text {
    color: #064789;
    font-size: 7vw;
    font-family: Impact, sans-serif;
    padding: 8px 0px 0px 0px;
    top: 30%;
    left: 10%;
    position: absolute;
    text-align: left;
}

.text{
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
	padding: 8px 39% 0px 0px;
    top: 60%;
    left: 10%;
    position: absolute;
    text-align: left;
}
/*end of hero section*/